<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container d-flex align-items-center">
    <div>
      <a class="navbar-brand" href="/">
        <i class="fa fa-share-alt"></i>
        <strong>project idea</strong>
      </a>
    </div>
  </div>
</nav>