<section id="user-info">
  
  <div class="card w-100 mb-3">
    <div class="card-body">
      <p class="card-subtitle mb-2 text-muted">{{user.username}}</p>

      <p class="card-text">
        {{user.bio}}
      </p>

      

     

    </div>
  </div>
  
</section>